<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Inventario</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content w-50">
    <!-- Default box -->
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Ingrese referencia">
        <label for="floatingInput">Modelo</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Indique la marca">
        <label for="floatingPassword">Fabricante</label>
    </div>

    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Ingrese el valor del equipo">
        <label for="floatingPassword">Precio</label>
    </div>

    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="inserte url">
        <label for="floatingPassword">Imagen del producto</label>
    </div>

    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Introduzca nombre completo">
        <label for="floatingPassword">agisnado a:</label>
    </div>

    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Seleccione una opción...">
        <label for="floatingPassword">Estado</label>
    </div>

    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="STOK">
        <label for="floatingPassword">DEFINIR STOK</label>
    </div>

    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Seleccione una opnción...">
        <label for="floatingPassword">Documento de identidad</label>
    </div>


    <!-- /.card -->
</section>
<!-- /.content -->
